@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

.tbl td,
.tbl th {
  /* padding: 0.25rem; */
  padding: 2px !important;
  /* padding-left: 0.5rem; */
  border: 1px solid #000;
  text-transform: capitalize;
}

.tbl th {
  white-space: nowrap;
}

.ql-toolbar {
  display: none !important;
}

.ql-container {
  border-top-width: 1px !important;
  border-radius: 10px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 1px solid #ccc !important;
}

/* report download */

/* Download.css */
